/*ejercicio 2.1*/
.example {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }

.example2 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.example3 {
  margin: 10px; }

.example4 {
  padding: 20px; }

.example5 {
  border-width: 1px;
  border-style: solid;
  border-color: #000; }
